.navbar {
  display: flex; /* Active le mode Flexbox */
  justify-content: space-between; /* Écarte les éléments : Logo à gauche, Liens à droite */
  align-items: center;
  background-color: #022549;
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}
.img {
  height: 60px;
  width: auto;
  display: block;
}
.nav-links {
  list-style: none; /* Enlève les puces (points) devant les li */
  display: flex; /* Met les liens côte à côte */
  gap: 1rem; /* Espace entre chaque lien */
  margin: 0;
  padding: 1rem;
}
.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.1rem;
  transition: color 0.3s;
}
